#serviceDetail-section-2 {
  .wrapper-description {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;
    @include tablet {
      max-width: 90%;
      padding-bottom: 36px;
    }
    @include desktop {
      padding-bottom: 50px;
      max-width: 70%;
    }
  }
  .serviceDetail-section-title {
    overflow: hidden;
    h1 {
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      color: $color-red-300;
      span {
        display: block;
        color: $color-red-400;
      }
    }
    .line {
      height: 2px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      background: $color-gray-300;
    }
    .serviceDetail-description {
      overflow: hidden;
      @include desktop {
        max-width: 70%;
        margin: 0 auto;
      }
      text-align: center;
    }
  }
  .wrapper-items {
    margin-top: 25px;
    @include tablet {
      margin-top: 36px;
    }
    @include desktop {
      margin-top: 50px;
    }
    .contact-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .item-icon {
        border-radius: 100%;
        overflow: hidden;
        width: 70px;
        height: 70px;
        @include desktop {
          width: 100px;
          height: 100px;
        }
        background-color: $color-red-500;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon {
          i {
            font-size: 40px;
            @include desktop {
              font-size: 50px;
            }
            color: $white;
          }
        }
      }
      .line {
        height: 3px;
        width: 150px;
        background-color: $color-red-500;
      }
      .item-name {
        margin-bottom: 10px;
        span {
          color: $color-gray-500;
        }
      }
      .item-description {
        text-align: center;
      }
    }
  }
}
