#section-mkt {
  position: relative;
  padding-top: 25px;
  padding-bottom: 20px;
  @include tablet {
    padding-top: 35px;
  }
  @include desktop {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .wrapper-main-service {
    position: relative;
    margin: 0 auto;
    max-width: 85%;
    .service {
      .service-tag {
        display: inline-block;
        padding: 12px;
        background: $color-gradient-3;
        @include desktop {
          padding: 25px;
        }
        font-weight: bold;
        color: $color-red-400;
      }
      .wrapper-btn {
        margin-top: 20px;
        .btn-inline {
          display: inline-block;
        }
        .btn-inline:last-child {
          margin-left: 20px;
        }
      }
    }
    .service-icon {
      img {
        max-width: 410px;
        max-height: 410px;
      }
    }
    .service-1 {
      .service-icon {
        img {
          max-width: 250px;
          max-height: 250px;
        }
      }
    }

    .service-2 {
      .service-icon {
        display: flex;
        justify-content: flex-end;
        img {
          max-width: 300px;
          max-height: 300px;
        }
      }
      .service-info {
        .row {
          flex-direction: row-reverse;
        }
      }
    }
    .service-3 {
      .service-icon {
        img {
          max-width: 350px;
          max-height: 350px;
        }
      }
    }
  }
  .minus-top {
    margin-top: 20px;

    @include desktop {
      margin-top: -140px;
    }
    @include large-desktop {
      margin-top: -200px;
    }
  }
}
