#section-banner-news {
  background: $color-gradient-1;
  padding-top: 100px;
  //   height: 100vh;
  .banner-news {
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
